@charset "UTF-8";
body {
  font-family: 'PTSansR', sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1; }

.navigation__inner {
  display: flex;
  text-align: start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1; }

.navigation__item-link {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  color: #302a31;
  text-decoration: none;
  padding-right: 50px; }

.navigation__item-last {
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  border-left: #eceaed 1px solid;
  padding: 14px 14px 12px 41px;
  color: #302a31; }

.navigation__item-last--cabinet {
  padding: 14px 43px 12px 43px; }

.navigation__item-link:hover {
  color: #c1a067; }

.navigation__item-last:hover {
  color: #c1a067; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold; }

.info__logo {
  max-height: 120px; }

.info__main {
  width: 61%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.info__info {
  display: flex;
  padding-top: 10px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between; }

.info__item {
  font-family: 'PTSansB', sans-serif;
  color: #302a31;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  text-transform: uppercase; }

.info__item--tel {
  padding-left: 0; }

.info__item-last {
  text-align: end; }

.info__basket {
  background: transparent;
  border: none; }

.info__basket img {
  height: 80px;
  cursor: pointer; }

.search {
  border-bottom: solid 2px #c1a067;
  display: flex;
  flex-direction: column; }

.search__search {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  background: url(../img/search@2x.png) no-repeat 100% 70%;
  background-size: 2%;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px; }

.search__search:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.search__search::placeholder {
  font-family: 'PTSansB', sans-serif;
  color: #302a31; }

.menu {
  background-color: #302a31; }

.menu__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 0; }

.menu__item {
  list-style-type: none;
  padding-top: 23px;
  padding-bottom: 23px; }

.menu__item-link:hover {
  color: #7BA3A5; }

.menu__item-link {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  color: #ffffff;
  text-decoration: none; }

.menu__item--last {
  background-color: #c16774;
  padding-left: 58px; }

.menu__item-link--last {
  text-transform: uppercase; }

.product {
  display: flex;
  padding-top: 65px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px; }

.product__banner {
  display: flex;
  background: url(../img/women@2x.png) no-repeat center/cover;
  height: 490px;
  flex-grow: 1;
  align-items: center;
  justify-content: center; }

.product__text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  padding-top: 200px;
  padding-left: 50px;
  color: #302a31; }

.product__info {
  padding-top: 170px; }

.product__info-text {
  font-size: 14px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #c1a067;
  border-bottom: solid 2px #c1a067;
  padding: 340px 140px 20px 0; }

.product__info-img {
  height: 270px;
  padding-left: 116px; }

.product__name {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  margin-top: -45px;
  text-transform: uppercase; }

.aside {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px; }

.aside__item {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif; }

.aside__item--last {
  margin-right: 60px; }

.aside__line {
  border-top: solid 1px #eceaed;
  color: transparent;
  padding: 0 40px;
  margin-right: 30px;
  margin-top: 13px; }

.caption {
  font-size: 36px;
  color: #302a31;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  padding: 0px 90px 25px;
  border-bottom: solid 2px #c1a067;
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  margin-bottom: 70px;
  font-weight: bold; }

.caption__subtitle {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #c1a067;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  margin: -40px auto 50px;
  font-weight: bold;
  text-align: center; }

.slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px; }

.slider__cards {
  border-left: 1px solid #eceaed;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%; }

.slider::before {
  content: ".";
  color: transparent;
  border-left: 2px solid white;
  position: relative;
  left: 6px; }

.slider__img {
  height: 230px; }

.slider__caption {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #302a31;
  font-weight: bold;
  text-decoration: none; }

.slider__caption--long {
  padding-top: 10px;
  line-height: 16px; }

.slider__text {
  font-size: 13px;
  line-height: 21px;
  color: #645f65;
  text-align: center; }

.slider__price {
  font-size: 13px;
  line-height: 21px;
  color: #302a31;
  display: flex; }

.slider__price--old {
  color: #c5717d;
  padding-right: 15px;
  text-decoration: line-through; }

.slider__sale {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background-color: #c16774;
  position: absolute;
  padding: 8px;
  font-weight: bold;
  align-self: flex-start; }

.brand {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px; }

.brand__top {
  flex: 0 0 16.6%; }

.brand__img {
  width: 100%; }

.brand-list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 85px; }

.brand-list__block {
  display: flex;
  flex-direction: column; }

.brand-list__item {
  margin: 0; }

.brand-list__link {
  font-size: 16px;
  line-height: 36px;
  color: #302a31;
  text-decoration: none; }

.article__caption {
  margin-top: 0;
  font-size: 16px;
  line-height: 36px;
  color: #302a31;
  text-transform: uppercase; }

.article__date {
  font-size: 13px;
  line-height: 24px;
  color: #c1a067; }

.article__text {
  font-size: 14px;
  line-height: 21px;
  color: #999799;
  margin: 0 60px 35px 0;
  border-bottom: #eceaed solid 1px;
  padding: 0 10px 30px 0; }

.article__text--news {
  border-bottom: none;
  padding: 0;
  margin: 0; }

.article__caption--long {
  line-height: 16px;
  max-width: 550px; }

.article__all {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #c1a067;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-right: 60px;
  padding-top: -10px; }

.article--perfumery {
  background: url(../img/три@2x.png) no-repeat;
  background-size: 43%;
  padding: 30px 0 30px 200px;
  margin-bottom: 30px; }

.article__caption--perfumery {
  line-height: 16px; }

.article--karloff {
  background: url(../img/korloff@2x.png) no-repeat 100%;
  background-size: 43%;
  padding: 25px 200px 60px 0;
  margin-bottom: 20px; }

.article--creed {
  background: url(../img/creed@2x.png) no-repeat;
  background-size: 43%;
  padding: 25px 0 60px 200px;
  margin-bottom: 20px; }

.article__caption--creed {
  line-height: 16px; }

.article__all--news {
  margin-right: 0; }

.text {
  display: flex;
  margin-top: -20px; }

.text__article {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%; }

.text__news {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -170px;
  padding: 150px 25px 35px; }

.footer {
  margin-top: -45px;
  background-color: #302a31; }

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: solid 1px #3f3a41; }

.footer__inner-block {
  margin-top: 75px; }

.footer__caption {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px; }

.footer__text {
  font-size: 14px;
  line-height: 17px;
  color: #a29fa2;
  text-decoration: none;
  display: flex;
  align-items: center; }

.footer__messenger {
  padding-left: 15px;
  padding-top: 10px; }

.footer__contacts {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }

.footer__callback {
  margin-top: 35px;
  padding-right: 50px; }

.footer__inner--footer {
  border: none;
  padding-top: 45px; }

.footer__published {
  display: flex;
  padding-right: 40px; }

.footer__published img {
  margin-right: 15px; }

.callback {
  margin-top: 35px; }

.callback a {
  text-decoration: none; }

.callback__contacts {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px; }

.callback__item {
  padding-bottom: 20px; }

.mail {
  display: flex;
  flex-direction: column; }

.mail__input {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: transparent;
  border-bottom: solid 2px #c1a067; }

.mail__input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.mail__input::placeholder {
  font-family: 'PTSansB', sans-serif;
  color: #cbcacb; }

.mail__button {
  background-color: transparent;
  border: none;
  color: #c1a067;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  float: right;
  margin-left: 24px;
  cursor: pointer;
  margin-bottom: 55px; }

.mail__button:hover {
  color: #795f3c; }

.ingram {
  display: flex; }

.ingram__circle {
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer; }

.ingram__img {
  padding: 13px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ingram__article {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none; }

.ingram__article:hover {
  color: #bababa; }

.ingram__circle:hover {
  background-color: #bababa; }
