.article {

}

.article__caption {
  margin-top: 0;
  font-size: 16px;
  line-height: 36px;
  color: #302a31;
  text-transform: uppercase;
}

.article__date {
  font-size: 13px;
  line-height: 24px;
  color: #c1a067;
}

.article__text {
  font-size: 14px;
  line-height: 21px;
  color: #999799;
  margin: 0 60px 35px 0;
  border-bottom: #eceaed solid 1px;
  padding: 0 10px 30px 0;
}
.article__text--news {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
.article__caption--long {
  line-height: 16px;
  max-width: 550px;

}
.article__all {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #c1a067;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-right: 60px;
  padding-top: -10px;
}
.article--perfumery {
  background: url(../img/три@2x.png) no-repeat;
  background-size: 43%;
  padding: 30px 0 30px 200px;
  margin-bottom: 30px;
  @media all and (max-width: 900px) {
    background: none;
    padding: 0;
  }
}
.article__caption--perfumery {
  line-height: 16px;
}
.article--karloff {
  background: url(../img/korloff@2x.png) no-repeat 100%;
  background-size: 43%;
  padding: 25px 200px 60px 0;
  margin-bottom: 20px;
  @media all and (max-width: 900px) {
    background: none;
    padding: 0;
  }
}
.article--creed {
   background: url(../img/creed@2x.png) no-repeat;
   background-size: 43%;
   padding: 25px 0 60px 200px;
   margin-bottom: 20px;
  @media all and (max-width: 900px) {
    background: none;
    padding: 0;
  }
 }
.article__caption--creed {
   line-height: 16px;
}
.article__all--news {
  margin-right: 0;
}