.aside {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  @media all and (max-width: 600px) {
    display: none;
  }
}

.aside--visible {
  display: none;
  @media all and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    display: flex;
    margin: 0 15px;
  }
}

.aside__item {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  @media all and (max-width: 600px) {
    padding: 5px 10px;
    border: 2px solid #6c757d;
    justify-content: center;
    background-color: #887b48;
    div {
      display: inline;
      text-align: center;
    }

  }
}

.aside__item--last {
  margin-right: 60px;
  @media all and (max-width: 1060px) {
    margin-right: 0;
  }
}

.aside__line {
  border-top: solid 1px #eceaed;
  color: transparent;
  padding: 0 40px;
  margin-right: 30px;
  margin-top: 13px;
  @media all and (max-width: 1060px) {
    display: none;
  }
  @media all and (max-width: 600px) {
    display: none;
  }
}