.brand {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.brand__top {
  flex: 0 0 16.6%;
}

.brand__img {
  width: 100%;
}

.brand__img:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
