.brand {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  @media all and (max-width: 600px) {
display: none;
  }
}
.brand--visible {
  display: none;
  justify-content: space-around;
  padding-bottom: 70px;
  @media all and (max-width: 600px) {
    display: flex;
  }
}

.brand__top {
  flex: 0 0 16.6%;
  @media all and (max-width: 600px) {
    flex: 0 0 33.33%;
  }
}

.brand__img {
  width: 100%;
}

.brand__img:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
