.callback {
    margin-top: 35px;
}
.callback a {
  text-decoration: none;
}
.callback__contacts {
  color:#ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 15px;
}
.callback__item {
  padding-bottom: 20px;
}
