.caption {
  font-size: 36px;
  color: #302a31;
  text-transform: uppercase;
  font-family: 'PTSansB', sans-serif;
  padding: 0px 90px 25px;
  border-bottom: solid 2px #c1a067;
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}