.footer {
  margin-top: -45px;
  background-color: #302a31;
}
.footer__inner {
display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: solid 1px #3f3a41;
}
.footer__inner-block {
margin-top: 75px;
}
.footer__caption {
color:#ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.footer__text {
  font-size: 14px;
  line-height: 17px;
  color: #a29fa2;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__text:hover {
  color: #ffffff;
}
.footer__text--messenger:hover {
  color: #a29fa2;
}
.footer__messenger {
  padding-left: 15px;
  padding-top: 10px;
}
.footer__contacts {
  color:#ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__callback {
  margin-top: 35px;
  padding-right: 50px;
}
.footer__inner--footer {
  border: none;
  padding-top: 45px;
}
.footer__published {
  display: flex;
  padding-right: 40px;
}
.footer__published img {
  margin-right: 15px;
}