.mail {
  border-bottom: solid 2px #c1a067;
  display: flex;
  flex-direction: column;
}
.mail__input {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
    width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
 background-color: transparent;
}
.mail__input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.mail__input::placeholder {
  font-family: 'PTSansB', sans-serif;
  color:#cbcacb;
}
