.mail {

  display: flex;
  flex-direction: column;
}
.mail__input {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: transparent;
  border-bottom: solid 2px #c1a067;
  color: white;
}
.mail__input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.mail__input::placeholder {
  font-family: 'PTSansB', sans-serif;
  color:#cbcacb;
}
.mail__button {
  background-color: transparent;
  border: none;
  color: #c1a067;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  float: right;
  margin-left: 24px;
  cursor: pointer;
  margin-bottom: 55px;
}
.mail__button:hover {
  color: #795f3c;
}
