.menu {
  background-color: #302a31;
  display: flex;
  justify-content: space-between;
}
.menu__inner {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
  max-width: 1110px;
  margin: 0 auto;
}
%menu__item {
  list-style-type: none;
  padding-top: 23px;
  padding-bottom: 23px;
}
.menu__item--hair,
.menu__item--make-up,
.menu__item--men,
.menu__item--novelty,
.menu__item--organic,
.menu__item--perfume,
.menu__item--skin,
.menu__item--surprise,
.menu__item {
  @extend  %menu__item
}
.menu__item-link:hover {
color: #7BA3A5;
}
.menu__item-link {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  color:#ffffff;
  text-decoration: none;
}
.menu__item--last{
  background-color: #c16774;
  width: 13%;
}
.menu__item-link--last {
  text-transform: uppercase;

}
