.navigation {
  display: flex;
justify-content: space-between;
  flex-grow: 1;
}

.navigation__inner {
  display: flex;
  text-align: start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
}

.navigation__item-link {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  color:#302a31;
  text-decoration: none;
  padding-right: 50px;
}
.navigation__item-last {
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  border-left: #eceaed 1px solid;
  padding: 14px 14px 12px 41px;
  color:#302a31;
}
.navigation__item-last--cabinet {
  padding: 14px 43px 12px 43px;
}
.navigation__item-link:hover {
  color:#c1a067;
}
.navigation__item-last:hover {
  color:#c1a067;
}