.product {
  display: flex;
  padding-top: 65px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.product__line {
  position: absolute;
  background: #c1a067;
  size: 2px;
}
.product__banner {
  div {
    display: flex;
    background: url(../img/women@2x.png) no-repeat center/cover;
    height: 490px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  display: flex;
  flex-grow: 1;
}
.product__text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  padding-top: 200px;
  position: relative;
  color: #302a31;
  left: -17%;
}
.product__info {
}
.product__info-text {
  font-size: 14px;
  line-height: 24px;
  font-family: 'PTSansB', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #c1a067;
  border-bottom: solid 2px #c1a067;
  padding: 0 140px 20px 0;
  position: relative;
  top: 100px;
}
.product__info-text:hover {
  color: #56472b;
}
.product__info-img {
  height: 270px;
  position: relative;
  left: -21%;
}
.product__info-img img {
  height: 100%;
}
.product__info-img img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.product__name {
  position: relative;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  margin-top: -35px;
  text-transform: uppercase;
  left: -37%;
  @media all and (max-width: 1350px) {
    display: none;

  }
}

.product__name--copy {
  display: none;
  @media all and (max-width: 1350px) {
    display: inline-block;
    top: 0;
  }
}