.text {
  display: flex;
  margin-top: -20px;
}
.text--hidden {
  @media all and (max-width: 900px) {
    display: none;
  }
}
.text--visible {
  display: none;
  @media all and (max-width: 900px) {
    display:flex ;
    margin-bottom: 10px;
  }
}
.text__article {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  @media all and (max-width: 900px) {
    flex: 0 0 100%;
    margin: 0 5px;
  }
}
.text__news {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -170px;
  padding: 150px 25px 35px;
  @media all and (max-width: 1350px) {
    top: -47px;
    padding: 25px 25px 35px;
  }
  @media all and (max-width: 900px) {
    top: -15px;
      }
}